.itemWrapper {
    /*width: 347px;*/
    width: 347px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.actionsWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    width: 100%;
}



.priceWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}


.oldPrice {
    position: relative;
    display: inline-block;
    font-weight: 500;
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #8090a4;
}

.oldPrice::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 39px;
    height: 2px;
    background-color: #FF2741;
}

.price {
    font-size: 22px;
    line-height: 1;
    letter-spacing: -0.02em;
    background: linear-gradient(90deg, #003181 0%, #2288ed 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.productName {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: -0.02em;
    color: #182a42;


    min-height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.itemImage {
    width: 347px;
    height: 347px;
    margin-bottom: 18.5px;

}


