.badge {
    display: inline-flex;
    align-items: center;
    height: 18px;
}

.badge svg:first-child {
    margin-right: -1px;
}

.badge svg:last-child {
    margin-left: -1px;
}

.value{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 18px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #fff;
    background-color: #FF2741;
}
