.ratingWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.stars {
    display: flex;
    align-items: center;
    gap: 4px;
}


.reviewsCount {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #182a42;

    position: relative;
    display: inline-block;
    cursor: pointer;
}

.reviewsCount::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: #ccd2d9;
    opacity: 0.8;
}

